// COLORS
//$body-background: #e5e5e5;
$body-background: #ffffff;
$color-primary: #092853;
$color-secondary: #f23e60;
$light-grey: #676b8c;
$black: #676b8c;
$white: #ffffff;

//FONT FAMILY
$title-font: "Poppins", sans-serif;
$body-font: "Montserrat", sans-serif;
$bold: 700;

// FONT-SIZES
$basic-font-size: 1.8rem;
$mobile-font-size: 1.5rem;

$big-title: 4.8rem;
$title-font-size: 4rem;
$mobile-title-font-size: 3rem;
$small-title: 2.5rem;
$big-text: 2rem;

$section-width: 70%;
$laptop-container: 80%;
